.TodoInsert{
    display: flex;
    outline: none;
}

/* 기본 초기화 */
input, button{
    background-color: none;
    outline: none;
    border:none;
}

input{
    flex: 1;
    padding: 0.5rem;
    line-height: 1.5rem;
    
    background: #495057;
    font-size: 1.125rem;
    color:#fff;

}

input::placeholder {
    color:#dee2d6;
}

button{
    
    display: flex;
    align-items: center;
    
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: #868e96;

    font-size: 1.5rem;
    color:#fff;
    
    cursor:pointer;
    transition: 0.1s background ease-in;
}

button:hover{
    background-color: #adb5bd;
}
